SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin
HOME=/var/log
#
#minute	hour	mday	month	wday	command
#

0   3 * * * /root/scripts/update.cron.sh
30  3 * * * /root/scripts/backup.data.sh
*/5 * * * * /root/scripts/wac-a-mac.sh
